{% extends 'store/base.html' %}
{% load static %}
{% block content %}
<section id="hero">
  <main id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="billing-details1">
                    <div class="form-wrapper">
                        <h3>Регистрация</h3>
                        {% if form.errors %}
                            <div id="errors">
                                <div class="errors1">
                                    {{ form.username.errors }}
                                    {{ form.password2.errors }}
                                    {{ form.password1.errors }}
                                    {{ form.first_name.errors }}
                                    {{ form.last_name.errors }}
                                    {{ form.email.errors }}
                                </div>
                            </div>
                        {% endif %}
                        <form action="{% url 'users:registration' %}" method="POST">
                            {% csrf_token %}
                            {{ form.username }}
                            {{ form.email }}
                            {{ form.password1 }}
                            {{ form.password2 }}
                            <input class="btn login" type="submit" value="Зарегестрироваться"/>
                        </form>

                    </div>

                    <div class="form-wrapper">
                        <h3>Вход</h3>
                        {% if form.errors %}
                            <div id="errors">
                                <div class="errors1">
                                    {{ form.username.errors }}
                                    {{ form.password.errors }}
                                </div>
                            </div>
                        {% endif %}
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{ form.username }}
                            {{ form.password1 }}
                            <p><a href="">Забыли пароль?</a></p>
                            <input class="btn login1" type="submit" value="Войти"/>
                        </form>

                    </div>
                </div>
                </div>
            </div>
        </div>

    </div>

  </main><!-- End #main -->
</section>
{% endblock content %}