{% extends 'users/base.html' %}
{% load static %}
{% block content %}


    <!-- ======= Hero Section ======= -->


    <main id="main">
    <input type="checkbox"  id="nav-toggle" hidden>
        <nav class="nav">
    <label for="nav-toggle" class="nav-toggle" onclick >Меню уроков </label>
        <h2 class="logo">
            <a href=""></a>
        </h2>
        <ul>
            <li><a href="#1"><p>Урок №1:</p> История барберинга / Основы профессии / Критерии и принципы выбора инструментов</a>
           <li><a href="#2"><p>Урок №2:</p> Основные знания о строении волос / Строение черепа</a>
           <li><a href="#3"><p>Урок №3:</p> Базовые навыки / Тушевка / Форма Квадрат</a>
           <li><a href="#4"><p>Урок №4:</p> Форма треугольник / Тушевка / Разница в технике при форме треугольник</a>
           <li><a href="#4"><p>Урок №5:</p> Форма круг / Работа с кругом / Формы лица, для которых подходит круг</a>


        </ul>
    <div class="mask-content"></div>
        </nav>
        <section id="services" class="services">
            <div class="container">

                <div class="section-title" data-aos="fade-in" data-aos-delay="0">
                    <h2>После окончания вы сможете:</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box1" data-aos="fade-up">
                            <div class="icon"><i class="bx bx-comment-check"></i></div>
                            <h4 class="title"><a href="">Выполнять современные мужские стрижки</a></h4>
                            <p class="description">Научитесь выполнять востребованные стрижки: undercut, fade, британку,
                                side part. Сможете подобрать стрижку, учитывая стиль клиента и анатомические особенности
                                головы;</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box1" data-aos="fade-up" data-aos-delay="100">
                            <div class="icon"><i class="bx bx-comment-check"></i></div>
                            <h4 class="title"><a href="">Моделировать бороду и усы</a></h4>
                            <p class="description">Изменять черты лица с помощью грамотно подобранной формы усов и
                                бороды;</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box1" data-aos="fade-up" data-aos-delay="200">
                            <div class="icon"><i class="bx bx-comment-check"></i></div>
                            <h4 class="title"><a href="">Составлять целостный образ для клиента</a></h4>
                            <p class="description">Сможете выполнять тонирование волос, бороды и усов, делая образ
                                клиента стильным.</p>
                        </div>
                    </div>


                </div>

            </div>
        </section>

        <!-- ======= Team Section ======= -->




    </main><!-- End #main -->



{% endblock content %}

