{% extends 'users/base.html' %}
{% load static %}
{% block content %}


    <!-- ======= Hero Section ======= -->


    <main id="main">
    <input type="checkbox"  id="nav-toggle" hidden>
        <nav class="nav">
    <label for="nav-toggle" class="nav-toggle" onclick >Меню уроков </label>
        <h2 class="logo">
            <a href=""></a>
        </h2>
        <ul>
            {% for lesson in lessons %}
            <li><a href="{% url 'store:lessons' lesson.pk %}">{{lesson.name}}</a>
            {% endfor %}
        </ul>
    <div class="mask-content"></div>
        </nav>
        <section id="services" class="services">
            <div class="container">

                <div class="section-title" data-aos="fade-in" data-aos-delay="0">
                    <h2>Мой профиль:</h2>
                </div>
                <div class="row">
                    <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-md-6 col-lg-4 ">
                        <div class="icon-box2" data-aos="fade-up">
                            {% if user.status > 0 %}
                                <input type="checkbox"  id="nav-toggle" hidden>

                                <label for="nav-toggle" class="btn login1" onclick >Начать учится! </label>

                            {% else %}
                            <div class="icon"><i class="bx bx-cart-add"></i></div>
                            <h4 class="title"><a href="">Приобрести доступ:</a></h4>
                            <p><input type="checkbox" id="c1" name="cc" />
                            <label for="c1"><span></span>Пакет "Лайт"  Цена: 5000Р</label></p>
                             <p><input type="checkbox" id="c1" name="cc" />
                            <label for="c1"><span></span>2 тариф Цена: 10000Р</label></p>
                           <p> <input type="checkbox" id="c1" name="cc" />
                            <label for="c1"><span></span>3 тариф Цена :15000Р</label></p>
                            <p><a href="{% url 'store:store' %}#price">Подробнее о тарифах</a></p>
                            <p><input class="btn login" type="submit" value="Перейти к оплате"/></p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 ">
                        <div class="icon-box2" data-aos="fade-up" data-aos-delay="200">
                            <div class="icon"><i class="bx bxs-user-account"></i></div>
                            <h4 class="title"><a href="">Данные аккаунта</a></h4>
                            <p class="description"> Имя пользователя: {{ form.username }}</p>
                            <p class="description"> Email: {{ form.email }}</p>
                            <p><a href="#">Изменить пароль</a></p>
                        </div>
                    </div>


                </div>
</div>
            </div>
        </section>

        <!-- ======= Team Section ======= -->




    </main><!-- End #main -->



{% endblock content %}

